@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-dark:  #1C0F13;
  --color-muted: #6E7E85;
  --color-soft:  #B7CECE;
  --color-light: #E2E2E2;

  --font-sans: "Inter", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
}
